<div class="links">
    <div class="title">Generates an Anki deck from poetry</div>
    <a href="https://github.com/xiety/AnkiPoetry">https://github.com/xiety/AnkiPoetry</a>
    <button @onclick="LoadHamlet">Load Hamlet</button>
</div>
<div class="parameters">
    <div><div class="parameter-name">Chunk size: </div><input type="number" min="1" @bind="state.Parameters.ChunkSize" /></div>
    <div><div class="parameter-name">Word Wrap: </div><input type="number" min="-1" @bind="state.Parameters.WordWrap" /></div>
    <div><div class="parameter-name">On spaces: </div><input type="checkbox" @bind="state.Parameters.WrapOnSpaces" /></div>
    <div><div class="parameter-name">Add dots: </div><input type="checkbox" @bind="state.Parameters.AddDots" /></div>
    <div><div class="parameter-name">Colors: </div><input type="number" min="1" @bind="state.Parameters.Colors" /></div>
    <div><div class="parameter-name">Overlap: </div><input type="checkbox" @bind="state.Parameters.OverlapChapters" /></div>
    <div><div class="parameter-name">Empty End: </div><input type="checkbox" @bind="state.Parameters.EmptyEndElement" /></div>
    <div><div class="parameter-name">Title to Begin: </div><input type="checkbox" @bind="state.Parameters.TitleToBegin" /></div>
<div><div class="parameter-name">Line numbers: </div><input type="checkbox" @bind="state.Parameters.LineNumbers" /></div>

</div>
<div class="json">
    <input @bind:event="onchange" @bind:get="GetJson()" @bind:set="SetJson" />
</div>
<div class="item">
    <div class="item-name">Input:</div>
    <textarea @bind="state.Text" wrap="off" />
    <div class="item-buttons">
        <button @onclick="Generate" class="main-button">Generate</button>
    </div>
</div>
@foreach (var info in infos)
{
    <div class="item">
        <div class="item-name">@info.Title:</div>
        <textarea id="@info.Id" @bind="info.Csv" wrap="off" />
        <div class="item-buttons">
            <button @onclick="@(() => DownloadContent(info.Id, info.FileName))">Download '@info.FileName'</button>
        </div>
    </div>
}
<div class="item">
    <div class="item-name">Sample:</div>
    <div class="sample-container">
        @foreach (var sample in samples)
        {
            <div class="card">
                @((MarkupString)sample.Text)
            </div>
        }
    </div>
</div>
